body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./img/desert-826238_1920.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    margin: 0;
    height: 100vh;
}

canvas {
    background-color: black;
    display: block;
    border-radius: 10px; 
}

h1 {
    font-size: 60px;
    color:black;
    font-family: "Bungee Spice", sans-serif;
}

h2{
    font-family: "Bungee Spice", sans-serif;
}

p{
    font-family: "Bungee Spice", sans-serif;
}

.startscreenImg,
.endscreenImg,
.winscreenImg {
    position: absolute;
    border-radius: 10px;
    width: 740px;
    height: 490px;
    overflow: hidden;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.howToPlayButton{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 10px;
    border: unset;
    background-color: #FFA400;
    font-family: "Bungee Spice", sans-serif;
    border: 1px solid black;
}

.how_to_play_container{
    display: flex;
	justify-content: center;
	align-items: center;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	backdrop-filter: blur(20px);
	position: absolute;
	z-index: 3;
}

.imprint_container{
    display: flex;
	justify-content: center;
	align-items: center;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	backdrop-filter: blur(20px);
	position: absolute;
	z-index: 3;
}

.imprint{
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 25px;
	background: rgba(255, 190, 64, 0.5);
	width: 720px;
    height: 490px;
	position: relative;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); 
	border-radius: 10px;
	letter-spacing: 1px;
	padding: 20px 10px; 
	margin: 20px 0;
	text-align: center;
}

.how_to_play{
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 25px;
	background: rgba(255, 190, 64, 0.5);
	width: 500px;
	position: relative;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); 
	border-radius: 10px;
	letter-spacing: 1px;
	padding: 20px 10px; 
	margin: 20px 0;
	text-align: center;
}

.imprintButton{
    position: absolute;
    top: 40%;
    left: 65%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 10px;
    border: unset;
    background-color:#FFA400;
    font-family: "Bungee Spice", sans-serif;
    border: 1px solid black;
}

.startButton{
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 10px;
    border: unset;
    background-color:#FFA400;
    font-family: "Bungee Spice", sans-serif;
    border: 1px solid black;  
}

#restartButton,
#backToMenuButton {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 50px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 10px;
    border: unset;
    background-color:#FFA400;
    font-family: "Bungee Spice", sans-serif;
    border: 1px solid black;
}

.icon_audio {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 30%;
    left: 65%;
    cursor: pointer;
}

#landscape {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2000;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: 24px;
    font-family: "Bungee Spice", sans-serif;
    text-align: center;
    color:black;
}

.d-none {
    display: none; 
}

@font-face {
    font-family: "Bungee Spice", sans-serif;
    src: url(./fonts/Bungee_Spice/BungeeSpice-Regular.ttf);
}

@media(max-width: 1020px) {
    .howToPlayButton{
        left: 50%;
    }
    .startButton{
        left: 25%;
    }
    .imprintButton{
        left:75%
    }
    .icon_audio{
        left:80%;
    }
}

@media only screen and (max-width: 740px) {

    canvas {
        width: 100%;
        height: 100vh;
    }

    #fullScreen{
        width: 100%;
    }
    .startscreenImg,
    .endscreenImg,
    .winscreenImg {
        width: 100%;
        overflow: hidden;  
    }

    #landscape {
        display: flex;
        flex-direction: column-reverse;
    }

    h1{
        display: none;
    }

    .touch-controls {
        width: auto;
        height: auto;
    }

    h2{
        font-size: 24px;
    }

    p{
        font-size: 16px;
    }

    #button-container {
        display: block;
    }

    .mobileButtons.d-none {
        display: none;
    }

    .mobileButtons {
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: -50px;
        left: 0;
        right: 0;
    }
    
    .touch-btn {
        width: 40px;
        height: 40px;
       margin-right: 28px;
        background: transparent;
        border: none;
    }

    .touch-btn img {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
        width: 100%;
    }

    #fullScreen{
        width: 100%;
    }

    .startscreenImg,
    .endscreenImg,
    .winscreenImg {
        width: 100%;
        overflow: hidden;
    }

    h1, #landscape{
        display: none;
    }

    h2{
        font-size: 24px;
    }

    p{
        font-size: 16px;
    }
   
    .startButton,.howToPlayButton,.imprintButton,
    #restartButton,
    #backToMenuButton {
        top: 15%;
    }
    
    .mobileButtons.d-none {
        display: none;
    }

    .mobileButtons {
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 5px;
        left: 40px;
        right: 50px;
    }

    .icon_audio{
        top:0;
        left: 90%;
    }

    .touch-btn {
        width: 40px;
        height: 40px;
        margin-left: 28px;
        background: transparent;
        border: none;
    }

    .touch-btn img {
        width: 100%;
        height: auto;
    }
}
