body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./img/desert-826238_1920.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    justify-content: center;
    margin: 0;
}

canvas {
    background-color: black;
    display: block;
    border-radius: 10px;
    
}

h1 {
    font-size: 60px;
    color: white;
    font-family: "Bungee Spice", sans-serif;
}


.startscreenImg,
.endscreenImg,
.winscreenImg {
    position: absolute;
    border-radius: 10px;
    width: 720px;
    height: 490px;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.startButton,
#restartButton,
#backToMenuButton {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 50px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 10px;
    border: unset;
    background-color: #FFDA28;
    font-family: "Bungee Spice", sans-serif;
}

.icon_audio {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

#landscape {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2000;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: 24px;
    font-family: "Bungee Spice", sans-serif;
    text-align: center;
    color: white;
}


.d-none {
    display: none;
}

@font-face {
    font-family: "Bungee Spice", sans-serif;
    src: url(./fonts/Bungee_Spice/BungeeSpice-Regular.ttf);
}

@media only screen and (max-width: 720px) {

    canvas {
        width: 100%;
        height: 100vh;
    }
    .startscreenImg,
    .endscreenImg,
    .winscreenImg {
        width: 100%;
        height: auto;
    }

    #landscape {
        display: flex;
        flex-direction: column-reverse;
    }

   h1{
    display: none;
   }
   h3{
    display: none;
   }

    .touch-controls {
        width: auto;
        height: auto;
    }

    #button-container {
        display: block;
    }

    .mobileButtons.d-none {
        display: none;
    }

    .mobileButtons {
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: -50px;
        left: 0;
        right: 0;
    }

    .touch-btn {
        width: 40px;
        height: 40px;
       margin-right: 16px;
        background: transparent;
        border: none;
    }

    .touch-btn img {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
        width: 100%;
    }
    h1 {
        display: none;
    }
    h3{
        display: none;
    }

    .startButton,
    #restartButton,
    #backToMenuButton {
        top: 15%;
    }

    .mobileButtons.d-none {
        display: none;
    }
    .mobileButtons {
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 15px;
        left: 110px;
        right: 150px;
        padding: 5px;
    }

    .touch-btn {
        width: 40px;
        height: 40px;
        margin-left: 16px;
        background: transparent;
        border: none;
    }

    .touch-btn img {
        width: 100%;
        height: auto;
    }


}
